<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
        <h1 id="project_title">{Wenbin Teng (滕文彬)}</h1>
      <bt>
        <p class="external">
          <a href="mailto:jerryteng95626@gmail.com">Email</a> &bull; <a href="docs/Teng%2C%20Wenbin_Resume.pdf">Resume</a> &bull; <a href="https://github.com/wbteng9526">GitHub</a> &bull; <a href="https://www.linkedin.com/in/wenbin-teng/">LinkedIn</a>
        </p>
        <div id="sidebar"><img src="images/1.jpg" id="me" width="300" itemprop="photo"></div>
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {&copy; 2021 Wenbin Teng}
      </footer>
    </div>
  </body>
</html>